body {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    border: 1px solid pink;
    background-image: url("https://www.sciencemag.org/sites/default/files/styles/inline__699w__no_aspect/public/dogs_1280p_0.jpg?itok=_Ch9dkfK");
    background-repeat: no-repeat;
    background-position: center;
    /* background-position: 300px 10px */

    background-origin: content-box;

    /* background-origin: padding-box;
    background-origin: border-box;
    */
    
}
