* {
    border: 2px solid red;
}

div {
    height: 100px;
    width: 100px;
    background-color: blue;
    color: #fff;
}


#one {
    /*If you don't put anything down here, it might as well just be static! */
    position: relative;
    top: 20px;
    left: 20px;
    /* formattting */
    background-color: green;

}

