header {
    width: 100%;
    height: 5vw;
}

div {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 5vw;
}

nav {
    width: 15%;
}

article {
    width: 70%;
}

aside {
    width: 15%;
}

footer {
    width: 100%;
    height: 5vw;
}