div {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    border-radius: 10px;
    display: inline-block;
    
}
img {
    border: 10px groove orangered;
    border-radius: 45%;
    padding: 50px;
    margin: 40px;
}
.onedog{
    border: 10px dashed orangered;
    border-radius: 45%;
}
.twodog{
    border: 10px groove green;
    border-radius: 45%;
}
.threedog{
    border: 10px double pink;
    border-radius: 45%;
}